{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <br><br>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>

    <script>
        document.querySelectorAll('input')[1].classList += 'col-form-label col-md-4 col-sm-12 pt-0';
        document.querySelectorAll('input')[2].classList += 'btn btn-light btn-primary mb-2'    
    </script>

{% endblock %}